@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: rgb(70, 70, 70);
  --background-end-rgb: rgb(60, 60, 60);
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
} 